// PILER

.link {
	position: absolute;
	background: $link-color;
	color: #222;
	z-index: 0;
	// filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
}

// @media only screen and (min-width: 1200px) { 
// 	.link {
// 		width: 40%;
// 	}
// }

// HORISONTALE PILER

.link-h {
	height: $link-size;
	@media (max-width: $small-screen) {
		height: $link-size-small;
	}
	
	width: $arrow-width;
	margin-left: -$link-size;
	left: 100%;	
	margin-top: -$link-size / 2;
	@media (max-width: $small-screen) {
		margin-left: -$link-size-small;
		height: $link-size-small / 2;
	}	
	top: 50%;

	&.left {
		left: -20%;
	}

	&.double {
		left: 120%;
		width: 26%;
	}

	&.left:before,
	&.double:before,
	&.right:after,
	&.double:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: $link-arrow-offset;
		border-top: $link-size solid transparent;
		border-bottom: $link-size solid transparent;
		@media (max-width: $small-screen) {
			top: $link-arrow-offset-small;
			border-top: $link-size-small solid transparent;
			border-bottom: $link-size-small solid transparent;
		}
	}
	
	&.left:before,
	&.double:before {
		left: -$link-size;
		border-right: $link-size solid $link-color;
		@media (max-width: $small-screen) {
			left: -$link-size-small;
			border-right: $link-size-small solid $link-color;
		}
	}

	&.right:after,
	&.double:after {
		right: -$link-size;
		border-left: $link-size solid $link-color;
		@media (max-width: $small-screen) {
			right: -$link-size-small;
			border-left: $link-size-small solid $link-color;
		}
	}
}



// VERTIKALE PILER

.link-v {
	width: $link-size;
	height: 35%;
	margin-left: -$link-size / 2;
	left: 50%;
	top: -35%;
	
	&.down {
		top: 100%;
	}

	&.up:before,
	&.double:before,
	&.down:after,
	&.double:after {
		content: "";
		position: absolute;
		left: $link-arrow-offset;
		width: 0;
		height: 0;
		border-left: $link-size solid transparent;
		border-right: $link-size solid transparent;
	}

	&.up:before,
	&.double:before {
		top: $link-arrow-offset;
		border-bottom: $link-size solid $link-color;
	}

	&.down:after,
	&.double:after {
		bottom: $link-arrow-offset;
		border-top: $link-size solid $link-color;
	}
}


