// PILER

.link {
	position: absolute;
	background: $link-color;
	color: #222;
	z-index: 0;
}


// HORISONTALE PILER

.link-h {
	height: $link-size;
	width: $link-width;
	margin-left: -$link-size;
	left: 100%;	
	margin-top: -$link-size / 2;
	top: 50%;
	@media (max-width: $small-screen) {
		margin-left: -$link-size-small;
		height: $link-size-small;
		margin-top: -$link-size-small / 2;
	}	

	&.left {
		margin-left: $link-size;
		left: -65%;
		@media (max-width: $small-screen) {
			margin-left: $link-size-small;
		}
	}
	&.left .edit {
		left: 15%;
		@media (max-width: $small-screen) {
			left: 30%;
		}
	}


	&.double {
		margin-left: $link-size;
		width: $link-width * 0.62;
		@media (max-width: $small-screen){
			margin-left: $link-size-small;
			width: $link-width * 0.68;			
		}
	}

	&.left:before,
	&.double:before,
	&.right:after,
	&.double:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: -$link-size / 2;
		border-top: $link-size solid transparent;
		border-bottom: $link-size solid transparent;
		@media (max-width: $small-screen) {
			top: -$link-size-small / 2;
			border-top: $link-size-small solid transparent;
			border-bottom: $link-size-small solid transparent;
		}
	}
	
	&.left:before,
	&.double:before {
		left: -$link-size;
		border-right: $link-size solid $link-color;
		@media (max-width: $small-screen) {
			left: -$link-size-small;
			border-right: $link-size-small solid $link-color;
		}
	}

	&.right:after,
	&.double:after {
		right: -$link-size;
		border-left: $link-size solid $link-color;
		@media (max-width: $small-screen) {
			right: -$link-size-small;
			border-left: $link-size-small solid $link-color;
		}
	}
}


// VERTIKALE PILER

.link-v {
	width: $link-size;
	height: 53%;
	margin-left: -$link-size / 2;
	left: 50%;
	top: -48%;
	@media (max-width: $small-screen) {
		margin-left: -$link-size-small;
		width: $link-size-small;
		margin-left: -$link-size-small / 2;
	}	
	
	&.down {
		top: 95%;
	}

	&.up:before,
	&.double:before,
	&.down:after,
	&.double:after {
		content: "";
		position: absolute;
		left: -$link-size / 2;
		width: 0;
		height: 0;
		border-left: $link-size solid transparent;
		border-right: $link-size solid transparent;
		@media (max-width: $small-screen) {
			left: -$link-size-small / 2;
			border-left: $link-size-small solid transparent;
			border-right: $link-size-small solid transparent;
		}

	}

	&.up:before,
	&.double:before {
		top: -$link-size / 2;
		border-bottom: $link-size solid $link-color;
		@media (max-width: $small-screen) {
			top: -$link-size-small;
			border-bottom: $link-size-small solid $link-color;
		}

	}

	&.down:after,
	&.double:after {
		bottom: -$link-size / 2;
		border-top: $link-size solid $link-color;
		@media (max-width: $small-screen) {
			bottom: -$link-size-small;
			border-top: $link-size-small solid $link-color;
		}		
	}
}





.link-note {
	opacity: 1;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin-left: -15px;
	margin-top: -15px;
	height: 30px;
	width: 30px;
	transition: all .5s ease-in-out;
}

.link.active {
	z-index: 2;
}

.link.active .link-note{
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	margin-left: -175px;
	margin-top: -225px;
	padding: 30px;
	width: 350px;
	height: 450px;
	z-index: 999;
	background: #fff;
	border: $link-color solid 3px;
}

.link-h.right .edit {
	margin-left: ($link-size - $editbutton-size) / 2;
	@media (max-width: $small-screen) {
		margin-left: ($link-size-small - $editbutton-size-small) / 2;		
	}
}
.link-h.right.double .edit {
	margin-left: ($link-size - $editbutton-size);
	@media (max-width: $small-screen) {
		margin-left: ($link-size-small - $editbutton-size-small);		
	}
}

.link.active .edit {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.link h2 {
	opacity: 0;
	transition: opacity 1s ease;
	font-size: 4px;
	background-color: rgba(0,0,0,0);
}

.link.active h2 {
	opacity: 1;
	font-size: 20px;
	padding: 0;
	text-shadow: none;
	background-color: rgba(0,0,0,0);
}

.link h3 {
	font-size: 14px;
	line-height: 1;
	text-transform: inherit;
	margin-bottom: 2em;
	margin-top: 0;
	opacity: 0;
	font-weight: 400;
	transition: opacity .3s ease-in-out 0;
}

.link.active h3{
	opacity: 1;
	transition: opacity .3s ease-in-out .5s;
}

.link textarea {
	opacity: 0;
	pointer-events: none;
	height: 0;
	clear: both;
	transition: all 0s ease-in-out;
}

.link .close {
	opacity: 0;
	position: absolute;
	top: 0;
	right:0;
	pointer-events: none;
	visibility: hidden;
	padding: 5px 12px;
	transition: all 0s ease-in-out;
}

.link.active .close {
	opacity: 1;
	pointer-events: all;
	transition: opacity .3s ease .5s;
	visibility: visible;
}

.link.active textarea {
	height: 310px;
	opacity: 1;
	pointer-events: all;
	transition: all .3s ease-in-out .5s;

}



