@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
@import 'reset', '_variables', '_nodes', '_links';


html {
	height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url('../img/01_05_eidsvoll.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body {
	position: relative;
	background-color: $background-color;
	height: 100%;
}

h1 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
	hyphens: auto;
	margin-bottom: 1em;
	margin-top: 0;
	transition: all .5s ease-in-out;
}

a {
	color: $primary-color;
}

button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	background-color: $button-color;
}

#header {
	background: $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	h1 {
		margin: 0;
		padding: 20px 30px;
		@media (max-width: $small-screen) {
			padding: 10px;
		}
		color: #000;
		text-align: center;
	}
}

#container {
	height: 100%;
	display: block;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	// background: #222;
	// background: rgba(0,0,0,0.co);
	// background: rgba(115,106,0,0.9);
	background: $tint-color;
	display: block;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease .5s;
	
	&.active {
		opacity: 0.9;
		pointer-events: all;
		z-index: 3;
		transition: opacity 0.5s ease 0;
	}
}






.n1 {
	left: $col-1;
	top: 11%;
	height: 36%;
	
	.l1 {
		top: 20%;
	}
	.l2 {
		top: 80%;		    
	}
}

.n2 {
	left: $col-1;
	top: 52%;
	height: 20%;
	
	.l3 {
		top: 18%;
	}
	.l4 {
		top: 80%;		    
	}
}

.n3 {
	left: $col-1;
	top: 77%;
}

.n4 {
	left: $col-2;
	top: 11%;
	
	.l7 {
		width: 232%;
	}
	.l6 {
		
	}
}

.n5 {
	left: $col-2;
	top: 33%;
	.l7 {
		left: 85%;
	}
}

.n6 {
	left: $col-2;
	top: 52%;
	height: 39%;
	
	.l9 {
		top: 20%;
	}

}
.n7 {
	left: $col-3;
	top: 33%;
	height: 34%;
	
	.l10 {
		top: 20%;
	}
}
.n8 {
	left: $col-3;
	top: 77%;
	}

	.l11 {
		top: -61% ;
		height: 67%;
	}

.n9 {
	left: $col-4;
	top: 11%;
	height: 36%;
}




#progress-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	height: 10px;
	border-radius: 10px;
	background: #222;
	width: 200px;
}
.progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	border-radius: 10px 0 0 10px;
	background: $primary-color;
	width: 75px;
}
.progress_number {
	position: absolute;
	top: -35px;
	height: 30px;
	padding: 5px 10px 10px;
	right: -30px;
	color: #222;
}
.settings {
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.settings button {
	margin-left: 2px;
}

#export-wrapper,
#help-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: -100%;
	bottom: 100%;
	z-index: 9999;
	opacity: 0;
	background: #fff;
	pointer-events: none;
	transition: all .3s ease-in-out;
}
#export-wrapper.active,
#help-wrapper.active {
	opacity: 1;
	pointer-events: all;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	top: 0%;
	bottom: 0%;
}
#export-container,
#help-container {
	padding: 50px;
	max-width: 800px;
	margin: auto;
}
#export-container *{
	user-select: none;	
}
#export-container h1{
	margin-bottom: 50px;
	user-select: text;	
}
#export-container h2{
	margin-bottom: 0.5em;
	user-select: text;	
}
#export-container h2 button {
	margin-right: 20px;
}
#export-container p{
	margin-left: 51px;
	user-select: text;	
}

@media print {
	#header,
	#container, #help-wrapper, button {
		display: none;
	}
	#export-wrapper {
		position: relative;
		top: 0;
		bottom: 0;
		opacity: 1;
	}
}