@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
//@import 'grid';
@import 'reset', '_variables', '_arrows';


html {
	height: 100%;
}

body {
	position: relative;
	// background-color: rgba(174,181,3,0.5);
	background-color: rgba(115,107,0,0.8);
	height: 100%;
}

html {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url('../img/szc10a26_akg-images_NTBscanpix.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1em;
	margin-top: 0;
	transition: all .5s ease-in-out;
}

a {
	color: $primary-color;
}

button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	background-color: $link-color;
}

#header {
	background: $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	h1 {
		margin: 0;
		padding: 20px 30px;
		color: #000;
		text-align: center;
	}
}

#container {
	height: 100%;
	display: block;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	// background: #222;
	// background: rgba(0,0,0,0.co);
	// background: rgba(115,106,0,0.9);
	background: $secondary-color;
	display: block;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease .5s;
	
	&.active {
		opacity: 0.9;
		pointer-events: all;
		z-index: 3;
		transition: opacity 0.5s ease 0;
	}
}



.node {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	color: #fff;
	padding: 0 10px;
	border: 3px solid $link-color;
	text-align: center;
	background-size: 100%;
	background-size: cover;
	background-color: #fff;
	background-position: center center;
	transition: all .5s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	z-index: 2;
	filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.6));
}

// @media only screen and (min-width: 1250px) { 
// 	.node {
// 		width: 17%;
// 		padding-left: 30px;
// 		padding-right: 30px;
// 	}
// }
// @media only screen and (min-height: 1100px) { 
// 	.node {
// 		height: 15%;
// 		padding-top: 60px;
// 		padding-bottom: 60px;
// 	}
// }

.node:before {
	content: '';
	position: absolute;
	background: $tint-color;
	opacity: 0.3;
	mix-blend-mode: darken;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .5s ease-in-out;
}
.node.active:before {
	background: $tint-color;
	opacity: 0.8;
}

.node.nodePlaceholder{
	padding: 0;
	border: none;
	overflow: visible;
	transition: all .5s ease-in-out;
	z-index: 1;
}
.node.nodePlaceholder.activePlaceholder{
	z-index: 4;
	background: transparent;
	transition: all .0 ease-in-out;
}

.node.nodePlaceholder.activePlaceholder .link{
	opacity: 0;
}
.node.nodePlaceholder.activePlaceholder .link.active{
	opacity: 1;
}


.node.nodePlaceholder:before {
	display: none;
}
.node.active {
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	margin-left: -250px;
	margin-top: -250px;
	width: 500px;
	height: 500px;
	z-index: 999;
	padding: 30px;
	transition: all .5s ease-in-out 0s;
}
.node h2 {
	margin-bottom: 1em;
	margin-top: 1em;
	text-shadow: 0 3px 6px black;
}
.node.active h2 {
	font-size: 20px;
}
.node h3 {
	font-size: 14px;
	line-height: 1;
	text-transform: inherit;
	margin-bottom: 2em;
	margin-top: 0;
	opacity: 0;
	font-weight: 400;
	transition: opacity .3s ease-in-out 0;
}
.node.active h3{
	opacity: 1;
	transition: opacity .3s ease-in-out .5s;
}

.node-url {
	opacity: 0;
	display: none;
}
.node.active .node-url {
	opacity: 1;
	display: block;
	position: absolute;
	bottom: -30px;
	right: 0;
	left: 0;
	color: #fff;
	background: #000;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 2px;
	font-weight: 600;
}

.node * {
	position: relative;
	z-index: 1;
}
.node .edit {
	position: absolute;
	height: $link-size*1.1;
	width: $link-size*1.1;
	border-radius: 0;
	line-height: $link-size !important;
	// padding: 5px 10px;
	font-size: 1em !important;
	margin-left: -$link-size/2;
	margin-top: -$link-size/2;
	left: 50%;
	top: 50%;
	// color: $primary-color;
	transition: all .3s ease-in-out;
}

.node:hover .edit {
	// right: 0;
}
.node.hasNote .edit {
	// background: $primary-color;
	color: #fff;
	// right: 0;
	text-indent: 0px;
}
.hasNote .edit {
	// background: $primary-color;
	color: #fff;
	// line-height: $link-size;
}
.hasNote .edit:before {
	font-family: "FontAwesome";
  	content: "\f036";
	// padding-right: $link-size;
}
.hasNote .edit:hover {
	color: #000;
}

.node textarea {
	opacity: 0;
	pointer-events: none;
	height: 0;
	clear: both;

	transition: all 0s ease-in-out;
}
.node .close {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
	padding: 5px 12px;
	border-radius: 0;
	transition: all 0s ease-in-out;
}
.node.active .close {
	opacity: 1;
	pointer-events: all;
	transition: opacity .3s ease .5s;
}
.node.active .edit {
	opacity: 0;
	pointer-events: none;
}
.node.active textarea {
	height: 340px;
	opacity: 1;
	pointer-events: all;
	transition: all .3s ease-in-out .5s;

}


.node button {
	// background: rgba(0,0,0,0.5);
	padding: 1px;
	// text-shadow: 0 2px 3px black;
}

.node button:hover{
	background: white;
	text-shadow: none;
}




.node {
	width: 12%;
	height: 14%;
}

.n1 {
	left: $col-1;
	top: 11%;
	height: 80%;
	
	.l1 {
		top: 9%;
	}
	.l2 {
		top: 35%;		    
	}
	.l3 {
		top: 61%;
	}
	.l4 {
		top: 87%;
		width: 215%;
	}
}

.n2 {
	left: $col-2;
	top: 11%;
}

.n3 {
	left: $col-2;
	top: 33%;
}

.n4 {
	left: $col-2;
	top: 55%;
}

.n5 {
	left: $col-3;
	top: 11%;
	height: 80%;
}
.n5 .l7 {
	left: 85%;
}
.n6 {
	left: $col-4;
	top: 11%;
	height: 80%;
	
	.l9 {
		top: 9%;
	}
	.l10 {
		top: 35%;		    
	}
	.l11 {
		top: 61%;
	}
	.l12 {
		top: 87%;
	}

}
.n7 {
	left: $col-5;
	top: 11%;
}
.n8 {
	left: $col-5;
	top: 33%;
}
.n9 {
	left: $col-5;
	top: 55%;
}
.n10 {
	left: $col-5;
	top: 77%;
}


.link-note {
	opacity: 1;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin-left: -15px;
	margin-top: -15px;
	height: 30px;
	width: 30px;
	transition: all .5s ease-in-out;
}
.link.active {
	z-index: 2;
}
.link.active .link-note{
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin-left: -175px;
	margin-top: -225px;
	padding: 30px;
	width: 350px;
	height: 450px;
	z-index: 999;
	background: #fff;
}
// @media only screen and (min-width: 1100px) { 
// 	.link.active .link-note {
// 		width: 500px;
// 		margin-left: -250px;
// 	}
// }

// .link.double-arrow:before {
// 	content: '';
// 	position: absolute;
// 	height: 0;
// 	width: 0;
// 	border: 6px solid transparent;
// 	border-top: 6px solid #222;
// 	right: -3px;
// 	bottom: -11px;
// }
.link .edit {
	position: absolute;
	// left: 50%;
	// margin-left: -$link-size/2;
	// top: 50%;
	// margin-top: -$link-size/2;
	width: $link-size;
	height: $link-size;
	// padding: 5px 10px;
	// padding: 0 3px;
	// line-height: $link-size;
	text-align: center;
	visibility: visible;
	overflow: hidden;
}
.link.active .edit {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.link h2 {
	opacity: 0;
	transition: opacity .3s ease;
}
.link.active h2 {
	opacity: 1;
	font-size: 20px;
	text-shadow: none;
}
.link h3 {
	font-size: 14px;
	line-height: 1;
	text-transform: inherit;
	margin-bottom: 2em;
	margin-top: 0;
	opacity: 0;
	font-weight: 400;
	transition: opacity .3s ease-in-out 0;
}
.link.active h3{
	opacity: 1;
	transition: opacity .3s ease-in-out .5s;
}


.link textarea {
	opacity: 0;
	pointer-events: none;
	height: 0;
	clear: both;
	transition: all 0s ease-in-out;
}
.link .close {
	opacity: 0;
	position: absolute;
	top: 0;
	right:0;
	pointer-events: none;
	visibility: hidden;
	padding: 5px 12px;
	transition: all 0s ease-in-out;
}
.link.active .close {
	opacity: 1;
	pointer-events: all;
	transition: opacity .3s ease .5s;
	visibility: visible;
}
.link.active textarea {
	height: 310px;
	opacity: 1;
	pointer-events: all;
	transition: all .3s ease-in-out .5s;

}


#progress-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	height: 10px;
	border-radius: 10px;
	background: #222;
	width: 200px;
}
.progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	border-radius: 10px 0 0 10px;
	background: $primary-color;
	width: 75px;
}
.progress_number {
	position: absolute;
	top: -35px;
	height: 30px;
	padding: 5px 10px 10px;
	right: -30px;
	color: #222;
}
.settings {
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.settings button {
	margin-left: 2px;
}

#export-wrapper,
#help-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: -100%;
	bottom: 100%;
	z-index: 9999;
	opacity: 0;
	background: #fff;
	pointer-events: none;
	transition: all .3s ease-in-out;
}
#export-wrapper.active,
#help-wrapper.active {
	opacity: 1;
	pointer-events: all;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	top: 0%;
	bottom: 0%;
}
#export-container,
#help-container {
	padding: 50px;
	max-width: 800px;
	margin: auto;
}
#export-container *{
	user-select: none;	
}
#export-container h1{
	margin-bottom: 50px;
	user-select: text;	
}
#export-container h2{
	margin-bottom: 0.5em;
	user-select: text;	
}
#export-container h2 button {
	margin-right: 20px;
}
#export-container p{
	margin-left: 51px;
	user-select: text;	
}

@media print {
	#header,
	#container, #help-wrapper, button {
		display: none;
	}
	#export-wrapper {
		position: relative;
		top: 0;
		bottom: 0;
		opacity: 1;
	}
}